body {
    background: url("images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button {
    color: red;
}

#main {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: lightgrey;
    border: 2px solid black;
    height: 5vh;
    width: 15vw;
    display: flex;
    align-items: center;
    /*backdrop-filter: blur(5px);*/
    margin: 2px;
}

.card:hover {
    cursor: pointer;
 }

.card-title {
    margin: auto;
}

input:invalid {
    border: 3px solid red;
}

input:valid {
    border: 3px solid mediumseagreen;


.container{
    background-color: black;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable{
    padding: 1rem;
    background-color: aliceblue;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
}
