body {
    background: url("images/joanna-kosinska-1_CMoFsPfso-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button {
    color: red;
}
#main {
    width: auto;
    height: 100%;
}

#cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: lightgrey;
    border: 2px solid black;
    height: 5vh;
    width: 15vw;
    display: flex;
    align-items: center;
    /*backdrop-filter: blur(5px);*/
    margin: 2px;
}

.card:hover {
    cursor: pointer;
 }

.card-title {
    margin: auto;
}

